<div class="col-md-3">
    <div class="block-menu">
        <button ng-click="openModalWindow()" class="btn btn-lg btn-primary">Додати експертизу</button>
    </div>
    <ul class="list-group" ng-if="expertise_list.length != 0">
        <h3>Список експертиз:</h3>
        <li class="list-group-item list-group-item-info list-expertise" ng-repeat="item in expertise_list" ng-click="show(item)">
            {{item.name}}
            <i ng-click="removeExpertise(item)" class="glyphicon glyphicon-remove remove-expertise"></i>
        </li>
    </ul>
</div>

<div class="col-md-9">
    <tabset ng-if="expertiseName">
        <tab heading="Альтернативи">
            <h1>{{expertiseName}}</h1>
            <!--<button ng-click="add_alternative()" class="btn btn-info">Створити альтернативу</button>-->
            <div class="form-group">
                <label>Назва альтернативи
                    <input ng-model="alternative.name" class="form-control" type="text"/>
                </label>
                <button ng-click="addAlternative(alternative.name)" class="btn btn-success">Додати</button>
            </div>
            <div>
                <ul>Альтернативи:
                    <li ng-repeat="item in alnernative_list">{{item}}</li>
                </ul>
            </div>
        </tab>
        <tab heading="Критерії">
            <h1>{{expertiseName}}</h1>
        </tab>
    </tabset>
</div>
