<div class="wrapper-home">
    <h1 class="title">Експертне оцінювання</h1>
    <p class="alert-info welcome">Вітаємо Вас на сайті проекту "Експертиза".
        Тут ви можете ознаймитись з існуючими методами розв’язку задач прийняття рішень та застосувати їх для себе.
    </p>

    <tabset vertical="true" type="pills" class="methods">
        <accordion close-others="oneAtATime" class="methods">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Анкетні методи <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>

                <tab heading="{{item.title}}" class="custom-tab" ng-repeat="item in methods.questionnaire">
                    <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editText$index = true">&nbsp; Редагувати</button>
                    <button class="btn btn-success glyphicon glyphicon-ok" ng-click="editText$index = false; updateMethod(item)">&nbsp; Зберегти</button>
                    <div ng-if="!editText$index" ng-bind-html="item.text"></div>
                    <text-angular ng-show="editText$index" ng-model="item.text"></text-angular>
                </tab>
            </accordion-group>
        </accordion>
        <tab heading="{{item.title}}" class="custom-tab" ng-repeat="item in methods.noQuestionnaire">
            <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editText$index = true">&nbsp; Редагувати</button>
            <button class="btn btn-success glyphicon glyphicon-ok" ng-click="editText$index = false; updateMethod(item)">&nbsp; Зберегти</button>
            <div ng-if="!editText$index" ng-bind-html="item.text"></div>
            <text-angular ng-show="editText$index" ng-model="item.text"></text-angular>
        </tab>
</tabset>

    <p class="alert-success welcome">Для того щоб застосувати їх практично Ви маєте зареєструватись!</p>
</div>
