<div class="wrapper-home">
    <h1 class="title">Експертне оцінювання</h1>
    <p class="alert-info welcome">Вітаємо Вас на сайті проекту "Експертиза".
        Тут ви можете ознаймитись з існуючими методами розв’язку задач прийняття рішень та застосувати їх для себе.
    </p>
    <button class="btn btn-success" ng-click="editText = true">edit text</button>
    <button ng-click="editText = false">Сохранить</button>
    <text-angular ng-show="editText" ng-model="htmlVariable"></text-angular>

    <iframe src="http://www.codecogs.com/latex/eqneditor.php" width="868" height="960" align="left">
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>

    <tabset vertical="true" type="pills" class="methods">
        <accordion close-others="oneAtATime" class="methods">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Анкетні методи <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>

                <tab heading="Метод нормування" class="custom-tab">Метод нормування</tab>
                <tab heading="Метод парних порівнянь" class="custom-tab"><h1>Метод парних порівнянь</h1>
                    <p>Використовується тоді, коли експерти можуть порівняти об'єкти між собою попарно і встановити кращий об'єкт у кожній парі. Кожен експерт заповнює свою таблицю порівнянь.</p>
                    <p>Kожна наступна оцінка не зв'язана з попередньою, усі ці парні оцінки складають матрицю парних переваг, при спеціальній обробці якої одержують числові параметри показників пріоритетності об’єкту для конкретного випадку.</p>
                    <p>Основні переваги методу попарних порівнянь полягають у тому, що:
                    <ul> <li>має місце порівняння кожної роботи з іншими за більшим числом факторів пріоритетності для підприємства, завдяки чому підвищується точність оцінки і відкривається можливість вивчати якість більшого числа сторін об'єкта дослідження, ніж при використанні інших методів;</li>
                        <li>опускається вимірювання нерівномірно змінної важливості показників, що необхідне для розв’язання більшості практичних економічних задач;</li>
                        <a href="http://www.codecogs.com/eqnedit.php?latex=\inline&space;_{1}33333" target="_blank"><img src="http://latex.codecogs.com/gif.latex?\inline&space;_{1}33333" title="_{1}33333" /></a>
                        <li>експерт у процесі експертизи зосереджує свою увагу не на всіх роботах відразу, а тільки на двох, порівнюваних у кожен даний момент – це полегшує роботу і сприяє підвищенню її якості;</li>
                        <li>метод дозволяє одержати не тільки середню оцінку роботи, дану кожним експертом, але і дисперсію цієї оцінки, що дає можливість провести надалі більш глибокий економіко-математичний аналіз.</li>
                        </ul>
                    </p>

                </tab>
                <tab heading="Метод ранжування" class="custom-tab"> <h1>Метод ранжування</h1>
                    <p>Метод ранжування – розміщення даних на основі спадання чи зростання відповідних показників, що дає можливість визначити місце будь-якої складової в цьому ряду.</p>
                    <p>Метод ранжування полягає у тому, що експерту пропонується присвоїти числові ранги кожному з наведених у анкеті факторів.
                    Ранг рівний 1 присвоюється найбільш  важливому фактору, а ранг рівний 2 – наступному за важливістю фактору і т. д.</p>
                    <p>Ранжування застосовується у таких випадках:<ul>
                        <li>коли необхідно упорядкувати деякі об’єкти (фактори) у часі або у просторі, тобто у випадках коли немає необхідності порівнювати ступінь прояву деякої властивості;</li>
                        <li>коли потрібно упорядкувати об’єкти у відповідності до певної властивості, але при цьому не вимагається її точне вимірювання;</li>
                        <li>коли деяка властивість у принципі вимірювана, однак у поточний момент не може бути виміряна. </li></ul></p>
                    <p>Визначення рангів може бути виконане також за методом парного порівняння. При цьому необхідно багатократно порівнювати кожний фактор з усіма іншими і надавати перевагу одному з двох, фіксуючи факт цифрами 0 і  1. Якщо перевагу встановити неможливо, то виставляються дві оцінки по 0.5.</p>
                </tab>
            </accordion-group>
        </accordion>

    <tab heading="Метод аналізу ієрархій">Метод аналізу ієрархій</tab>
    <tab heading="Метод аналізу співвідношень">Метод аналізу співвідношень</tab>
    <tab heading="Метод голосування">Метод голосування</tab>
</tabset>

    <p class="alert-success welcome">Для того щоб застосувати їх практично Ви маєте зареєструватись!</p>
</div>
