.block-menu {
    min-height: 100px;
    padding: 20px;
}

.nav-tabs li {
    cursor: pointer;
}

.modal-dialog {
    width: 300px;
}

.title {
    margin: 0 5%;
    text-shadow: 1px 0 12px rgba(54, 118, 231, 0.5);
}

.welcome {
    width: 600px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 15px;
    padding: 12px;
    border: 1px solid #0086B3;
    border-radius: 15px;
    box-shadow: 1px 0 12px rgba(0,0,0,0.5);
}

.methods {
    width: 600px;
    font-size: 16px;
    margin-left: 20px;

}
.wrapper-home .tab-pane.ng-scope.active {
    position: absolute;
    left: 650px;
    top: 0;
    font-size: 17px;
    padding-right: 15px;
}

.wrapper-home {
    position: relative;
}

.panel-heading {
    cursor: pointer;
}

.custom-tab a {
    display: inline-block;
    height: 42px;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;

}

.nav-pills.nav-stacked li {
    cursor: pointer;
}

.custom-tab:hover {
    border-radius: 5px;
    background-color: #eee;
}

.custom-tab.active {
    border-radius: 5px;
    background-color: #428bca;
}

.custom-tab.active a {
    color: #ffffff;
}
